/target
.metadata
/.metadata/
.project
.classpath
/.settings/
/bin/
/logback/
/h2/
.idea
.idea/*.*
*.iml
node_modules
/attachment/
/.classpath
/LOG_HOME_IS_UNDEFINED/*
.factorypath
.vscode/settings.json
cloud-admin/.project
cloud-admin/.classpath
/pom.xml.bak
.log
logs
.DS_Store